@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'dragons';
    src: url(fonts/DragonHunter.otf) format('opentype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.tela-inicio{
    z-index: 999;
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url(imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img{
    width: 500px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    border: 1px solid white;
    border-radius: 60px;
    position: relative;
    background-color: rgb(100, 9, 9);
}

.botao button{
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 60px;
    background-color: rgb(148, 6, 6);
    cursor: pointer;
}

.sobe{
    animation: sobe 2s ease forwards;
}

@keyframes sobe {
    100%{transform: translateY(-700px);}
}

/*Menu de Navegação*/
nav{background-color: rgb(99, 7, 25);
position: fixed;
top: 0;
left: 0;
width: 100%;}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 10px;
    transition: .3s;
    position: relative;
}

nav ul li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: yellow;
    width: 0%;
    transition: .5s;
}

nav ul li a:hover{
    background-color: rgb(158, 10, 39);
}
nav ul li a:hover::after{
    width: 100%;
}
/*Dragao*/
.dragao{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    animation: move 3s ease infinite;
    width: 100%;;
    z-index: -1;
    position: relative;
}
@keyframes move {
    0%{transform:  translateY(0px);}
    50%{transform: translateY(-4px);}
    100%{transform:  translateY(0px);}
}
/*Historia*/
.inicio{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid #33333393;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title h1{
    font-size: 30px;
    animation: dungeon 6s linear infinite;
    background-image: linear-gradient(45deg, #a82c2cd5, #800000, #b30000);
    color: transparent;
    background-size: 400% 100%;
    -webkit-background-clip: text;
}

@keyframes dungeon {
    0%{background-position-x: 100%;}
    100%{background-position: 400%;}
}

.img1{
    width: 100%;
    padding: 1rem 0;
}

@keyframes sobes {
    0%{transform: translateY(0px);}
    50%{transform: translateY(5px);}
    100%{transform: translateY(0px);}
}

.historia{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 1rem 0 0 0;
    border-bottom: 2px solid #333;
}

.historia h2{
    text-align: center;
}

.tower{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.tower h3{
    font-family: 'dragons';
    color: yellow;
    text-align: center;
    font-size: 20px;
}

.tower p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tower img{
    width: 100%;
}

/*Peronsagens*/

.personagens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem  3rem 0 3rem;
    margin: 0 auto;

}

.nomes{padding-bottom: 1rem;}

.galeria1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.galeria1 img{
    width: 242px;
    position: relative;
}

.clerico{
    left: 10px;
}
.sinopse-cleric{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
    position: absolute;
    border: 1px solid white;
    width: 240px;
    background-color: black;
    top: 140px;
    padding: .5rem;
}

.sinopse-cleric h4{
    text-align: center;
}


.clerico:hover + .sinopse-cleric{
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 1;
}

.elfa{
    position: relative;
    left: -20px;
}
.sinopse-elf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
    position: absolute;
    border: 1px solid white;
    width: 240px;
    background-color: black;
    top: 140px;
    right: 40px;
    padding: .5rem;
}

.sinopse-elf h4{
    text-align: center;
}


.elfa:hover + .sinopse-elf{
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 1;
}


.galeria2{
    display: flex;
    justify-content: center;
    position: relative;
}

.anao{
    width: 300px;
    position: relative;
    left: -25px;
}

.sinopse-anao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
    position: absolute;
    border: 1px solid white;
    width: 240px;
    background-color: black;
    top: 150px;
    padding: .5rem;
}

.anao:hover + .sinopse-anao{
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 1;
}
.cavaleiro{
    width: 185px;
    height: 190px;
    position: relative;
    left: -50px;
    top: -15px;
}

.sinopse-cavaleiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: .5s;
    position: absolute;
    border: 1px solid white;
    width: 260px;
    background-color: black;
    top: 140px;
    left: 210px;
    padding: .5rem;
}

.cavaleiro:hover + .sinopse-cavaleiro{
    border:1px solid white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 1;
}







/*Redes sociais*/

.redes{
    display: flex;
    justify-content: center;
}
.redes a{
    text-decoration: none;
    color: white;}

.redes ul{
    list-style: none;
}

.redes ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    height: 45px;
    width: 45px;
    border-radius: 60px;
    position: relative;
    border: 1px solid white;
    cursor: pointer;
    transition: .3s;
    background-color: #1f1d1d;
}

.redes ul li:hover{width: 90px;}
.redes ul li:hover::before{opacity: 1;}
.redes ul li span{position: absolute;}

.redes .icon{
    font-size: 25px;
    transition: .2s;
}
.icon .bi-instagram{color: rgb(221, 55, 138);}
.icon .bi-github{color: purple;}
.icon .bi-linkedin{color: rgb(19, 19, 173);}

.redes ul li:hover .icon{transform: scale(0);}

.redes ul li .text{
    transform: scale(0);
    transition: .2s;
    transition-delay: .2s;
    font-size: 15px;
}

.redes ul li:hover .text{transform: scale(1);}

.redes ul li::before{
    position: absolute;
    content: " ";
    border-radius: 60px;
    inset: 0;
    opacity: 0;
}

.redes ul li.instagram::before { background-image: linear-gradient(45deg,#fb3997, #fecf12 );}
.redes ul li.github::before{background-image: linear-gradient(45deg,#333333, #6e5494);}
.redes ul li.linkedin::before{background-image: linear-gradient(45deg,#09c5ff, #0986ff);}